/* Booking Form */
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #051622; /* Very dark blue */
    padding: 20px;
    color: white;
}

.logo h1 {
    font-size: 2.5em;
    color: #1BA098; /* Teal */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #1BA098; /* Teal */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #DEB992; /* Light beige */
}


.booking-form {
    background-color: #1BA098; /* Teal background */
    padding: 50px 0;
    text-align: center;
    color: white;
}

.booking-form .container {
    width: 60%;
    margin: 0 auto;
    background-color: #051622; /* Very dark blue */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.booking-form h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left;
    color: #DEB992; /* Light beige */
}

.booking-form input, .booking-form select {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #DEB992; /* Light beige */
    color: #051622; /* Dark text */
}

.booking-form .btn {
    padding: 15px;
    background-color: #DEB992; /* Light beige */
    color: #1BA098; /* Teal text */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.booking-form .btn:hover {
    background-color: #1BA098; /* Teal */
    color: #051622; /* Dark text */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background-color: #051622; /* Very dark blue */
    color: white;
    margin-top: 50px;
}

footer p {
    margin: 10px 0;
}